// *{
// 	outline: 1px solid red;
// }

/* Variables */
//================================================
$bg: #fff;
$border: 1px solid rgb(169,169,169);
$ff: Open Sans, sans-serif;
$roboto: Roboto Condensed, sans-serif;

//colors
$dark: #292938;
$light: #efefef;
$white: #efefef;
$black: #1a1b18;
$color1: #3C91E6;
$color2: #DE541E;
$black2: #2f2f2f;
$silver:#aaaaaa;

@mixin position($pos: relative, $top: null, $right: null, $bottom: null, $left: null) {
	// POSITION
	position: $pos;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}


//heading for clearance and new products on home page
//===================================================
@mixin hr_title($content) {
	color: #ccc;
	border: 0;
	height: 4px;
  	background-color: #ccc;
	text-align: center;
	margin-top: 50px;
	padding: 0;
	&:after{
		width: 10em;
    	background: #fff;
		content: $content;
		display: inline-block;
		font-size: 20px;
   		font-family: $roboto;
		text-transform: uppercase;
		padding: 0 8px;
		position: relative;
		top: -0.5em;
	}
}
  
.my_title {
   @include hr_title("Reduced To Clear");
}

.my_title1 {
   @include hr_title("New Arrivals");
}


.products-heading{
	width:100%;
	text-align:center;
}

//"product_info=======================================>

.productdetailbox{
  .fig, .main{
    height: 300px;
  }
  .fig img{
    width: 100%;
    max-height: 300px;
  }
}
// //====================================================>>

//header==============================================>

	header{
		position: relative;
		top:0;
		left: 0;
		z-index: 20;
		.top-line{
			width: 100%;
			height: 2em;
			background-color: black;
			
		}
	}

	.mainNav {
		background: $light;
		color: $black;
		max-height: 70px;
		position: relative;

		a {
			text-decoration: none;
			i{
				font-size: 1.1em;
			}

			span{
				color: red;
			}

		}

		.logo {
			display: inline-block;
			color: #fff;
			font-size: 1.7em;
			height: 40px;
			line-height: 1.55em;
			letter-spacing: -2px;
			text-transform: uppercase;
			padding: 0 10px;
			z-index: 0;

			@include position;

			&:hover:before {
				background: $dark;
			}

			&:before {
				content: "";
				background: black;
				z-index: -1;

				@include position(absolute, 0, 0, 0, 0);
			}

			a {
				color: white;
			}
		}

		.menu {
			background: $light;
			box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
			border-top: 1px solid ($light / 1.1);
			display: none;
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;
			font-family: 'Lato', sans-serif;

			@include position(absolute, 60px, 0, null, 0);

			a {
				color: $dark;
				border-bottom: 1px solid ($light / 1.1);
				display: block;
				padding: 15px;

				&:hover {
					background: $dark;
					color: $white;
				}
			}
		}

		.navBars {
			display: inline-block;
			font-size: 1.7em;
			line-height: 1.5em;
			float: right;
			user-select: none;
			-webkit-user-select: none;
		}
	}

	#xBxHack {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: -99999px;

		&:checked ~ nav .menu {
			display: block;
		}
	}

	.container {
		max-width: 960px;
		margin: 0 auto;
		padding: 10px;
	}
//===================================================>>	

//index page==========================================>
	section:nth-child(1){
		.flicker-example{
			height: 70vh;
			font-family: $roboto;
		}
	}

	section:nth-child(2) ,.about-us{
		background-color: rgb(245,245,245);
		.heading{
			width: 100%;
			text-align: center;
			font-family: $roboto;
			font-size: 20px;
		}
		div{
			width: 100%;
			.snip1113 {
			  	height: 25em;	
			  	position: relative;
			  	margin-top: 2em;
			  	overflow: hidden;
			  	margin-left: auto;
			  	margin-right: auto;
			  	min-width: 210px;
			  	max-width: 300px;
			 	width: 100%;
			  	background: #ffffff;
			  	text-align: center;
			  	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
			  	.snip1113 * {
  					box-sizing: border-box;
 					transition: all 0.3s ease-in-out;
			 	 }
			  	img {
				  max-width: 65%;
				  margin: 40px auto;
				  display: block;
				  position: relative;
				  border: 2px solid #666666;
				  padding: 15px 15px 85px 15px;
				  transform: translate(0, 0);
				}

				figcaption {
				  position: absolute;
				  height: 120px;
				  bottom: 0px;
				  left: 0;
				  right: 0;
				  display: block;
				}

				h3 {
				  background-color: #ffffff;
				  color: #000000;
				  font-size: 2em;
				  width: 100%;
				  margin: 0;
				  text-transform: uppercase;
				  font-weight: 400;
				  font-family: $roboto;
				  span{
				  	font-weight: 800;
				  }
				
				}

				h4{
				margin: 0;
				text-transform: uppercase;
				letter-spacing: -1px;
				opacity: 0.6;
				font-size: 20px;
				font-family: $roboto;
				}
			}

			.text{
				height: 40%;

				p{	
				text-align: left;
				width: 90%;
				margin-left: auto;
				margin-right: auto;
				font-size: 0.9em;
				font-family: $ff;
				}	
			}	
		}
	}

	section:nth-child(3), .products{
		.productWrap{
			width: 100%;
			.product{
				background: none;
				width: 248px;
				height: 380px;
				border: $border;
				border-radius: 1px;
				margin: 25px auto;
					.p-img{
						border-bottom: $border;
						width: 100%;
						height: 253px;
					}
					h1{
						font-size: 15px;
						margin: 20px 0 0 30px;
						font-weight: 600;
						color: #434343; 
						font-family: $roboto;
					}
					.price{
						color: #aaaaaa;
						font-weight: 300;
						font-size: 14px;
						margin-left: 30px;
					}
					.buy{
						border-top: $border;
						height: 36px;
						width: 100%;
						position: relative;
						top: 24px;
						font-size: 12px;
						cursor:pointer; 
						font-weight: 300;

					}
					.cart {
						text-align: center;
						width: 124px;
						position: relative;
						top: 8px;
						border-right: 1px solid #dadada;
						float: left;
						display: block;
						a{
							text-decoration:none;
							color:black;
						}
					}
					.cart>span{
						color: black;
						bottom: 2px;
						left: 2px;
						position: relative;
					}
					.details {
						text-align: center;
						width: 124px;
						position: relative;
						bottom: 9px;
						float: right;
						display: block;
					}
					.details>span{
						color: black;
						bottom: 1px;
						left: 2px;
						position: relative;
					}
						&:hover{
						box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
						.product{
							img{
								opacity:2;
							}
						}
					}
				}
			}
		}

	section:nth-child(4){
		.productWrap{
			width: 100%;
			.product{
				background: none;
				width: 248px;
				height: 380px;
				border: $border;
				border-radius: 1px;
				margin: 25px auto;
					.p-img{
						border-bottom: $border;
						width: 100%;
						height: 253px;
					}
					h1{
						font-size: 15px;
						margin: 20px 0 0 30px;
						font-weight: 600;
						color: #434343; 
						font-family: $roboto;
					}
					.price{
						color: #aaaaaa;
						font-weight: 300;
						font-size: 14px;
						margin-left: 30px;
					}
					.buy{
						border-top: $border;
						height: 36px;
						width: 100%;
						position: relative;
						top: 24px;
						font-size: 12px;
						font-weight: 300;

					}
					.cart {
						text-align: center;
						width: 124px;
						position: relative;
						top: 8px;
						border-right: 1px solid #dadada;
						float: left;
						display: block;

						a{
							text-decoration:none;
							color:black;
						}
					}
					.cart>span{
						color: $silver;
						bottom: 2px;
						left: 2px;
						position: relative;
					}
					.details {
						text-align: center;
						width: 124px;
						position: relative;
						bottom: 9px;
						float: right;
						display: block;
					}
					.details>span{
						color: #aaa;
						bottom: 1px;
						left: 2px;
						position: relative;
					}
					&:hover{
					box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
					.product{
						img{
							opacity:2;
						}
					}
				}
			}
		}	
	}
	

	section:nth-child(5){
	background-image:url(../img/tweed_@2X.png);
	background-attachment: fixed;

		.photo{
			img{
				width: 100%;
				height: 100%;
			}
			margin-left: auto;
			margin-right: auto;
			height: 10em;
			width: 95%;
		}
		.info-wrap{
			width: 100%;
			margin-bottom: 0.7em;
			div{
				margin-left: auto;
				margin-right: auto;
				height: 18em;
				width: 95%;
				p{
				text-align: left;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				font-size: 0.9em;
				height: 50%;
				font-family: $ff;
				}
				h4{
					text-align: left;
					font-family: $roboto;
					font-size: 15px;
				}
			}
		} 
	}

	section:nth-child(6){
		#hide{
			display: none;
		}
		
		h1{
		font-size:20px;
		margin-top:30px;
		color: black;
		font-family: $roboto;
		text-align:center;
		}
	.blog-wrapper{
		display:flex;
		flex-direction:row;
		justify-content:center;
		flex-wrap:wrap;
		.blog-card{
			max-width:280px;
			margin:15px;
			background:#fff;
			border:1px solid $silver;
			text-align:center;
			cursor:pointer;
			&:hover{
				box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
				.card-img{
					img{
						opacity:0.8;
					}
				}
			}
			.card-img{
				position:relative;
				text-align:center;
				img{
					height:230px;
					max-width: 100%;
					border-bottom:4px solid $silver;
				}
				&:before{
					content:'';
					position: absolute;
					bottom: -8px;
					left: 50%;
					margin-left: -10px;
					width: 0;
					height: 0;
					border-top: solid 10px $silver;
					border-left: solid 10px transparent;
					border-right: solid 10px transparent;
				}
				h1{
					position:absolute;
					margin:0;
					font-size:20px;
					bottom:15px;
					width:100%;
					color:black;
					font-family:$roboto;
				}
			}
			.card-details{
				margin-top:30px;
				color:#3C3C3C;
				span{		
					padding:0 30px;
					i{
						margin-right:5px;
					}
					
				}
			}
			.card-text{
				padding:30px 15px;
				font-family: $ff;
				line-height:22px;
				font-size: 0.9em;
			}
			.read-more{
				display:inline-block;
				width:auto;
				text-align:center;
				text-transform:uppercase;
				background: $silver;
				color:#fff;
				padding:15px;
				margin-bottom:30px;
				font-family: $ff;
				font-size: 0.9em;
				&:hover{
					background: black;
				}
			}
		}
	}
}
//================================================>>

//Contact page====================================>

	.section1{
		.contact-heading{
			margin: 0;
			padding:0;
			background-image: url(../img/tweed_@2X.png);
			background-attachment: fixed;
			background-position: center;			
			width: 100%;
			height: 10em;
			h1{
				text-align: center;
				width: 45%;
				padding-top: 2.5em;
				font-size: 20px;
				font-family: $roboto;
			}
		}
		.sub-nav{
			width: 100%;
			height: 5em;
		}

		#map{
			width: 99.9%;
        	height: 50vh; 
		} 
	}

	
//================================================>>


//footer//========================================>
	footer{
		background-color: black;
		.contact .fa:before {
			display: inline-block;
		}
		.contact li {
  			display: inline-block; 
 			list-style-type: none;
  			margin: 0 1.7em;
  			text-align: center;
		}
		.contact p {
			text-align: center;
			font-size: 0.8em;
			font-family: $ff;
			color: $silver;
			i{
				color:white;
			}
		}
		.contact {
			display: inline-block; margin: 0 auto;
			padding-left: 0;
		}
		.cont {
			text-align: center;
			margin-top:3em;
		}
	}

//====================================================>>	

/* Regular smart phones, including iPhone 6 + with 414px viewport! */
@media screen and (min-width: 34em) {
	*{
		//outline: red solid thin;
	}	

	main{
//index page=============================================>
		section:nth-child(3),.products{		
			.productWrap{
				display: flex;
				flex-wrap:wrap;
				.product{
					background: none;
					width: 40%;
				}
			}
		}

		section:nth-child(4){		
			.productWrap{
				display: flex;
				flex-wrap:wrap;
				.product{
					background: none;
					width: 40%;
				}
			}
		}

		section:nth-child(5){
			.info-wrap{
				width: 100%;
				div{
					background-color: white;
					margin-left: auto;
					margin-right: auto;
					//height: 10em;
					width: 70%;
					p{
					width: 70%;
					margin-left: auto;
					margin-right: auto;
					font-size: 0.9em;
					}
				}
			} 
		}

//full product overview=====================================>
		.container{

			.productdetailbox{
				margin-top: 3em;
				display: flex;
				flex-direction: row;
				outline: 1px solid $silver;
				width: 100%;
			  .fig, .main{
			  	display: flex;
			  	justify-content: center;
			    height: 500px;
			    flex-direction: column;
			    h2{
			    	text-align: center;
			    	font-family: $roboto;
			    }

			    p{
			    	text-align: center;
			    	width: 60%;
			    	display: flex;
			    	align-self: center;
			    	font-family: $ff;

			    }

			    input{
			    	text-align: center;
			    	width: 3em;
			    }

			    .price-kit{
			    	width: 100%;
			    	text-align: center;
			    }

			    .socialshare{
			    	text-align: center;
			    }
			  }
			  .fig img{
			  	margin-left: 2em;
			  	outline: 1px solid $silver;
			    max-width: 350px;
			    max-height: 350px;
			    display: flex;
			    align-self: center;
			  }
			}
		}
//============================================================>>	
	}
}


//cart========================================================>

//=============================================================>>



/* Regular Tablets from 480 to 800px including Galaxy tablets - 768px is only good for iPad */
@media screen and (min-width: 48em) {
	
//navigation=================================================>
	.mainNav {
		max-height: 100px;
		.navBars {
			display: none;
		}

		.container {
			padding-top: 0;
			padding-bottom: 0;
		}

		.logo {
			margin: 10px 0;
		}

		.menu {
			display: block;
			box-shadow: none;
			border: none;
			float: right;

			@include position(static);

			li {
				display: inline-block;
			}

			a {
				border: none;
				padding: 18px 10px;
			}
		}
	}
//================================================================>>

//index page======================================================>
	section:nth-child(1){
		.flicker-example{
		}
	}

	section:nth-child(2), .about-us{
		div{
			display: flex;
			.text{
				height: 28em;
				display: flex;
				flex-direction: column;
				justify-content: center;

				p{	
				text-align: left;
				width: 80%;
				}	
			}
		}

	}

	section:nth-child(3),.products{		
		.productWrap{
			margin: 0 auto;
			width: 80%;
			.product{
				background: none;
				width: 40%;
			}
		}	
	}

	section:nth-child(4){		
		.productWrap{
			margin: 0 auto;
			width: 80%;
			.product{
				background: none;
				width: 40%;
			}
		}	
	}

	
		section:nth-child(5){
			.info{
				width: 100%;
			.photo{
				margin-left: auto;
				margin-right: auto;
				height: 15em;
				width: 20em;

			}
			.info-wrap{
				width: 80%;
				display: flex;
				flex-wrap: wrap;
				margin-top: 3em;
				justify-content: center;
				margin-bottom: 3em;
				flex-direction: row;
				margin-left: auto;
				margin-right: auto;

				div{
					margin-left: 0em;
					margin-right: 0em;
					padding: 1em;
					//height: 10em;
					width: 17em;
					p{
					width: 100%;
					margin-left: auto;
					margin-right: auto;
					font-size: 0.9em;
					margin-top: 0em;
					}
				}
			} 
		}
	}
//Contact page===================================================>

	.contact-container{
		margin-top: 3em;
		display: flex;

		.contact-details{
			width: 40%;
			text-align: left;
		}

		.form{
			padding-right: 3em;
			padding-left: 3em;
			width: 60%;

			form{
				width: 100%;
			}
		}
	}

//================================================================>>	

//about-page======================================>

		.about-us{
			.about-us-photo{
				width: 75%;				
			}

			div{
				width: 75%;	
				p{
					min-width: 100%;
				}
			}
		}
//====================================================>>
		//order form==========================================>
		#form{
			outline: 1px solid yellow;
			width: 80%;
			margin:0 auto;
			form{
				outline: 1px solid blue;
				width: 100%;
				margin: 0 auto;
			fieldset{
				width: 100%;
				input{
					width: 100%;

				}

				textarea{
					width: 100%;
				}

				label{
					width: 100%;
				}

				button{
				}
			}
		}
	}//=====================================================>>
}



/* Desktops and Laptops */
@media screen and (min-width: 62em ){

//index page==========================================>
	section:nth-child(2), .about-us{	
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	
		h1{
			width: 100%;
			text-align: center;
		}
		div{
			display: flex;
			justify-content: center;
			width: 80%;
			.snip1113 {
			  margin-left: 0;
			  margin-right: 0;	
			}
			.text{
				height: 30em;
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 50%;

				p{	
					text-align: left;
					width: 90%;
					padding-left: 2em;
				}


				
				h4{
					width: 100%;
					text-align: center;
				}	
			}	
		}
	}

	section:nth-child(3),.products{		
		.productWrap{
			width:80%;
			.product{
				background: none;
				flex: 0 0 15em;
			}
		}	
	}

	section:nth-child(4){		
		.productWrap{
			width: 80%;
			margin:auto;
			.product{
				background: none;
				flex: 0 0 15em;
			}
		}	
	}

	section:nth-child(5){
			.info{
				display: flex;
				flex-direction: row;
				padding:3em 0;
				align-items: center;
			.photo{
				height: 24em;
				width: 20em;
				margin-left: 9.5em;
				
			}
			.info-wrap{
				width: 58%;
				margin-top: 0;
				justify-content: center;
				margin-bottom: 0;
				margin-right: 8em;
				div{
					background-color: white;
					margin-left: 0em;
					margin-right: 0em;
					//height: 10em;
					width: 20em;
					margin: 0.3em;
				}
			} 
		}
	}

	section:nth-child(6){
		#hide{
		display: block;
		}
		.blog-wrapper{
			display:flex;
			flex-direction:row;
			justify-content:center;
			flex-wrap:wrap;
			.blog-card{
				max-width:332px;
				margin:15px;
			}

		}
	}

//Contact page========================================>
	.contact-container{
		width: 70%;
		margin-top: 3em;
		margin: 0 auto;

		.contact-details{
			margin-top: 3em;
			width: 50%;
		}

		.form{
			margin-top:3em;
			padding-left: 5em;
			width: 60%;
			form{
				width: 100%;
			}
		}
	}
//=====================================================>>
	

//order form==========================================>
		#form{
			width: 60%;
			form{
				width: 100%;
			fieldset{
				width: 100%;
				input{
					width: 100%;

				}

				textarea{
					width: 70%;
				}

				label{
					width: 100%;
				}

				button{
				}
			}
		}
	}//=====================================================>>	
}

//Large Screens
@media only screen and (min-width: 114.000em) { 

//index page===========================================>
	section:nth-child(2),.about-us{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	
		div{
			display: flex;
			justify-content: center;
			width: 80%;
			.snip1113 {
			  margin-left: 0;
			  margin-right: 0;	
			}
			.text{
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 50%;

				p{	
					text-align: left;
					width: 80%;
				}


				
				h4{
					width: 100%;
					text-align: center;
				}	
			}	
		}
	}

	section:nth-child(3), .products{		
		.productWrap{
			width:65%;
			.product{
				flex: 0 0 15em;
			}
		}	
	}

	section:nth-child(4){		
		.productWrap{
			width: 65%;
			margin:auto;
			.product{
				flex: 0 0 15em;
			}
		}	
	}

	section:nth-child(5){
			.info{
				display: flex;
				flex-direction: row;
				padding:3em 0;
				align-items: center;
			.photo{
				height: 24em;
				width: 18em;
				margin-left: 23em;
				
			}
			.info-wrap{
				margin-right: 19em;
				width: 45%;
				margin-top: 0;
				justify-content: center;
				margin-bottom: 0;
				div{
					background-color: white;
					margin-left: 0.5em;
					margin-right: 0em;
					//height: 10em;
					width: 21em;
				}
			} 
		}
	}
	section:nth-child(6){
		#hide{
		display: block;
		}
		.blog-wrapper{
			display:flex;
			flex-direction:row;
			justify-content:center;
			flex-wrap:wrap;
			.blog-card{
				max-width:362px;
				margin:15px;
			}
		}
	}	
}




